p {
    font-family: 'Playfair Display', serif;
    font-size: 100%
}

body {
    height: 96vh;
    background: rgb(0, 0, 0);
}

#content-div {
    height: 96vh;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

#library {
    padding: 10px;
}

#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#new-book-div {
    background: hsla(300, 0%, 50%, 0.9);
    border: 1px solid hsla(300, 0%, 50%, 0.9);
    box-shadow: 0 0 4px 3px rgb(190, 190, 190);
}



#new-book-div p {
    font-size: 40px;
    color: rgb(199, 199, 199);
    pointer-events: none;
}

.book {
    background: whitesmoke;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 5px 5px;
    text-align: center;
    white-space: pre-wrap;
    overflow:hidden;
    text-overflow: ellipsis;

    width: 25ch;
    max-width: 120px;

    height: 80%;
    min-height: 160px;
    max-height: 200px;
    border-radius: 2px;
    box-shadow: 0 0 4px 2px rgb(241, 241, 241);
}

.book:hover {
    transform: scale(1.05);

}

#new-book-div:hover {
    color: white;
    border: white;
    font-size: 3rem;
    font-weight: bold;
}
.book-read {
    box-shadow: 0 0 4px 3px rgb(190, 255, 174);
}

.book-not-read {
    box-shadow: 0 0 4px 3px rgb(255, 174, 174);
}

#popup-div {
    position:absolute;  
}

#form-div {
    display: flex;  
    justify-content: center;
    
}

#form {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    visibility: hidden;
    background: whitesmoke;
}

#form p {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
    pointer-events: none;
}

input {
    margin-bottom: 6px;
}

input[type=number] {
    width: 82px;
}

#btn-cancel {
    float:right;

}

#btn-cancel:hover {
    outline: none;
    border-radius: 4px;
    border-color: rgb(153, 0, 0);
}

#btn-submit:hover {
    outline: none;
    border-radius: 4px;
    border-color: rgb(16, 134, 0);
}

.btn-remove {
    width: 24px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top:4px;
    right:4px;
}

.btn-remove:hover {
    color: rgb(143, 0, 0);
}

#block {
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    right:0;
    height: 30px;
    width: 30px;
    z-index: 99;
}

.read-div {
    margin-top: 10px;
    text-align: center;
}

.read-div:hover {
    cursor:pointer;
    color: rgb(145, 145, 145);
}

#draggable-div {
    position: absolute;
    border-bottom: 1px solid black;
    height: 35px;
    width: 166px;
    top:0;
    left:0;
}